<h1>The features of this dataset: </h1>

lat : String variable, Latitude <br>
lng: String variable, Longitude  <br>
desc: String variable, Description of the Emergency Call <br>
zip: String variable, Zipcode<br>
title: String variable, Title<br>
timeStamp: String variable, YYYY-MM-DD HH:MM:SS<br>
twp: String variable, Township<br>
addr: String variable, Address<br>
e: String variable, Dummy variable (always 1)<br>

In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
data=pd.read_csv("911.csv")

In [3]:
data.head()

,lat,lng,desc,zip,title,timeStamp,twp,addr,e
0,40.297876,-75.581294,REINDEER CT & DEAD END; NEW HANOVER; Station ...,19525.0,EMS: BACK PAINS/INJURY,2015-12-10 17:10:52,NEW HANOVER,REINDEER CT & DEAD END,1
1,40.258061,-75.264680,BRIAR PATH & WHITEMARSH LN; HATFIELD TOWNSHIP...,19446.0,EMS: DIABETIC EMERGENCY,2015-12-10 17:29:21,HATFIELD TOWNSHIP,BRIAR PATH & WHITEMARSH LN,1
2,40.121182,-75.351975,HAWS AVE; NORRISTOWN; 2015-12-10 @ 14:39:21-St...,19401.0,Fire: GAS-ODOR/LEAK,2015-12-10 14:39:21,NORRISTOWN,HAWS AVE,1
3,40.116153,-75.343513,AIRY ST & SWEDE ST; NORRISTOWN; Station 308A;...,19401.0,EMS: CARDIAC EMERGENCY,2015-12-10 16:47:36,NORRISTOWN,AIRY ST & SWEDE ST,1
4,40.251492,-75.603350,CHERRYWOOD CT & DEAD END; LOWER POTTSGROVE; S...,NaN,EMS: DIZZINESS,2015-12-10 16:56:52,LOWER POTTSGROVE,CHERRYWOOD CT & DEAD END,1

In [4]:
data.describe()

                 lat            lng            zip         e
count  266543.000000  266543.000000  234049.000000  266543.0
mean       40.159200     -75.316831   19235.194429       1.0
std         0.089112       0.161089     306.362554       0.0
min        30.333596     -95.595595   17555.000000       1.0
25%        40.100055     -75.393304   19038.000000       1.0
50%        40.144296     -75.304635   19401.000000       1.0
75%        40.229008     -75.211812   19446.000000       1.0
max        41.167156     -74.813670   77316.000000       1.0

In [5]:
data.shape

(266543, 9)

In [11]:
data.isnull().sum()

lat              0
lng              0
desc             0
zip          32494
title            0
timeStamp        0
twp             95
addr             0
e                0
dtype: int64

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266543 entries, 0 to 266542
Data columns (total 9 columns):
lat          266543 non-null float64
lng          266543 non-null float64
desc         266543 non-null object
zip          234049 non-null float64
title        266543 non-null object
timeStamp    266543 non-null object
twp          266448 non-null object
addr         266543 non-null object
e            266543 non-null int64
dtypes: float64(3), int64(1), object(5)
memory usage: 18.3+ MB

In [21]:
data['zip'].value_counts().head(5)

19401.0    18401
19464.0    17937
19403.0    13366
19446.0    12828
19406.0     8820
Name: zip, dtype: int64

In [22]:
data['twp'].value_counts().head(5)

LOWER MERION    22886
ABINGTON        16379
NORRISTOWN      15421
UPPER MERION    14015
CHELTENHAM      12272
Name: twp, dtype: int64

In [23]:
data['title'].value_counts().head(5)

Traffic: VEHICLE ACCIDENT -    62218
Traffic: DISABLED VEHICLE -    18923
Fire: FIRE ALARM               15091
EMS: RESPIRATORY EMERGENCY     13503
EMS: CARDIAC EMERGENCY         13420
Name: title, dtype: int64

In [25]:
data['reason']=data['title'].apply(lambda x: x.split(':')[0])

In [26]:
data['reason'].head()

0     EMS
1     EMS
2    Fire
3     EMS
4     EMS
Name: reason, dtype: object

In [29]:
data=data.drop('Reason',axis=1)

In [31]:
data.shape[1]

10

In [32]:
data['reason'].value_counts()

EMS        133234
Traffic     93400
Fire        39909
Name: reason, dtype: int64