In [2]:
import pandas as pd
import numpy as np
from sklearn import ensemble

In [3]:
from sklearn import svm
from sklearn import tree
from sklearn.metrics import accuracy_score
from sklearn import model_selection
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
data=pd.read_csv("HR_comma_sep.csv")

In [5]:
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [6]:
n_records=data.shape[0]
print(n_records)

14999

In [11]:
from IPython.display import display
#check for missing data values
data.isnull().any()#false indicates non-presence of any missing value

satisfaction_level       False
last_evaluation          False
number_project           False
average_montly_hours     False
time_spend_company       False
Work_accident            False
left                     False
promotion_last_5years    False
sales                    False
salary                   False
dtype: bool

In [12]:
#Overview of the dataset
#1. Number of employees
print(n_records)

14999

In [28]:
#2 Number of employees that left
from collections import Counter
c=Counter([x for x in target if x==1])
percent_left=((c[1]/n_records)*100)
print("Percentage of people leaving the company: %f" %percent_left)

Percentage of people leaving the company: 23.808254

In [29]:
#3 basic description of the data
data.describe()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years
count,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000
mean,0.612834,0.716102,3.803054,201.050337,3.498233,0.144610,0.238083,0.021268
std,0.248631,0.171169,1.232592,49.943099,1.460136,0.351719,0.425924,0.144281
min,0.090000,0.360000,2.000000,96.000000,2.000000,0.000000,0.000000,0.000000
25%,0.440000,0.560000,3.000000,156.000000,3.000000,0.000000,0.000000,0.000000
50%,0.640000,0.720000,4.000000,200.000000,3.000000,0.000000,0.000000,0.000000
75%,0.820000,0.870000,5.000000,245.000000,4.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,7.000000,310.000000,10.000000,1.000000,1.000000,1.000000

In [31]:
#4 description of data with respect to our labels
label_desc=data.groupby('left')
label_desc.describe()

            Work_accident  average_montly_hours  last_evaluation  \
left
0    count   11428.000000          11428.000000     11428.000000
     mean        0.175009            199.060203         0.715473
     std         0.379991             45.682731         0.162005
     min         0.000000             96.000000         0.360000
     25%         0.000000            162.000000         0.580000
     50%         0.000000            198.000000         0.710000
     75%         0.000000            238.000000         0.850000
     max         1.000000            287.000000         1.000000
1    count    3571.000000           3571.000000      3571.000000
     mean        0.047326            207.419210         0.718113
     std         0.212364             61.202825         0.197673
     min         0.000000            126.000000         0.450000
     25%         0.000000            146.000000         0.520000
     50%         0.000000            224.000000         0.790000
     75%         0.000000            262.000000         0.900000
     max         1.000000            310.000000         1.000000

            number_project  promotion_last_5years  satisfaction_level  \
left
0    count    11428.000000           11428.000000        11428.000000
     mean         3.786664               0.026251            0.666810
     std          0.979884               0.159889            0.217104
     min          2.000000               0.000000            0.120000
     25%          3.000000               0.000000            0.540000
     50%          4.000000               0.000000            0.690000
     75%          4.000000               0.000000            0.840000
     max          6.000000               1.000000            1.000000
1    count     3571.000000            3571.000000         3571.000000
     mean         3.855503               0.005321            0.440098
     std          1.818165               0.072759            0.263933
     min          2.000000               0.000000            0.090000
     25%          2.000000               0.000000            0.130000
     50%          4.000000               0.000000            0.410000
     75%          6.000000               0.000000            0.730000
     max          7.000000               1.000000            0.920000

            time_spend_company
left
0    count        11428.000000
     mean             3.380032
     std              1.562348
     min              2.000000
     25%              2.000000
     50%              3.000000
     75%              4.000000
     max             10.000000
1    count         3571.000000
     mean             3.876505
     std              0.977698
     min              2.000000
     25%              3.000000
     50%              4.000000
     75%              5.000000
     max              6.000000

In [35]:
#Separating the data into features and target
target=data['left']
target.head()

0    1
1    1
2    1
3    1
4    1
Name: left, dtype: int64

In [38]:
#finding correlation between the features
correlation=data.corr()
plt.figure(figsize=6,6)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years
satisfaction_level,1.000000,0.105021,-0.142970,-0.020048,-0.100866,0.058697,-0.388375,0.025605
last_evaluation,0.105021,1.000000,0.349333,0.339742,0.131591,-0.007104,0.006567,-0.008684
number_project,-0.142970,0.349333,1.000000,0.417211,0.196786,-0.004741,0.023787,-0.006064
average_montly_hours,-0.020048,0.339742,0.417211,1.000000,0.127755,-0.010143,0.071287,-0.003544
time_spend_company,-0.100866,0.131591,0.196786,0.127755,1.000000,0.002120,0.144822,0.067433
Work_accident,0.058697,-0.007104,-0.004741,-0.010143,0.002120,1.000000,-0.154622,0.039245
left,-0.388375,0.006567,0.023787,0.071287,0.144822,-0.154622,1.000000,-0.061788
promotion_last_5years,0.025605,-0.008684,-0.006064,-0.003544,0.067433,0.039245,-0.061788,1.000000